<!DOCTYPE html>
<html lang="en">

<head>
    <title>tap_search</title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta Tags -->

    <!-- Style-sheets -->
    <!-- Bootstrap Css -->
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap Css -->
    <!-- Common Css -->
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--// Common Css -->
    <!-- Nav Css -->
    <link rel="stylesheet" href="../css/style4.css">
    <!--// Nav Css -->
    <!-- Fontawesome Css -->
    <link href="../css/fontawesome-all.css" rel="stylesheet">
    <!--// Fontawesome Css -->
    <!--// Style-sheets -->

    <!--web-fonts-->
    <link href="http://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!--//web-fonts-->
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->


        <!-- Page Content Holder -->
        <div id="content">
            <!-- top-bar -->

            <!--// top-bar -->

            <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center">Tap Search</h2>
            <!--// main-heading -->
            <div class="form-group">
                <!--<label for="exampleFormControlTextarea1">Example textarea</label>-->
                <textarea class="form-control" id="textarea" rows="10" required=""
                          placeholder="input sql eq:show tables;"></textarea>
            </div>

            <button class="btn btn-style my-2 my-sm-0" type="submit" onclick="refurbishIndex()">Do Query</button>
            <!-- Tables content -->
            <section class="tables-section">
                <div class="outer-w3-agile mt-3">
                    <div id="Hybridgraph" class="simple-chart1">
                    <table class="table">
                        <thead class="table-striped" id = "head">
                        </thead>
                        <tbody id = "tbody">
                        </tbody>
                    </table>
                </div>
                    </div>
            </section>

            <!--// Tables content -->

            <!-- Copyright -->
            <div class="copyright-w3layouts py-xl-3 py-2 mt-xl-5 mt-4 text-center">
                <p>Proudly By <a target="_blank" href="http://www.do-global.com/en/">Do-global</a></p>
            </div>
            <!--// Copyright -->
        </div>
    </div>


    <!-- Required common Js -->
    <script src='../js/jquery-2.2.3.min.js'></script>
    <!-- //Required common Js -->

    <!-- Sidebar-nav Js -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!--// Sidebar-nav Js -->

    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->

    <!-- Js for bootstrap working-->
    <script src="../js/bootstrap.min.js"></script>
    <!-- //Js for bootstrap working -->

    <script>function refurbishIndex(){

        var textval = $("textarea").val()
        $.ajax(
            {

            type:"post",
            url:"/getdata",
            data:{sql:textval,engine:"mysql"},
            dataType: "json",
            async: false,
            success:function (data) {
                // alert(data);
                obj=data;
                document.getElementById("tbody").innerHTML=obj.body;
                document.getElementById("head").innerHTML=obj.head;
            }
        });
    }</script>
    <script>
        document.onkeydown=function(event){
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if(e && e.keyCode==13){ // enter 键
                refurbishIndex()
            }
        };
    </script>
</body>

</html>